/* GLOBAIS */

*{
margin:0;
padding:0;
}

html{
width:100%;
height:100%;
}

	

/* CENTRALIZAR */

body {background: /*url("imagens/fundo.jpg");*/ #C46105;
     text-align:center;
	 background-attachment: fixed;
	 width:100%;
	 height:100%;}


#centro{
	margin: 0 auto;
    width:960px;
	border: 0;
    vertical-align:top;
    position:relative;}

/* FIM CENTRALIZAR*/


#fundo{background: /*url("imagens/papel.png");*/white;
	   height: 650px;
	   width: 960px;
	   position: absolute;
	   top: 0px;
	   left: 0px
	   }
	   
#fundoconteudo{
	   background: /*url("imagens/papel.png");*/ white;
	   height: 600px;
	   width: 960px;
	   position: absolute;
	   top: 70px;
	   left: 0px;
	   font-family: verdana;
	   font-size: 10px;
	   color: #666666;
	   text-align: center;
	   line-height: 25px	   
	   }	   


#logo2{position: absolute;
	   top: 90px;
	   left: 60px;
	   width: 45%}
	   
#canecas{position: absolute;
	   top: 340px;
	   left: 150px;}

#embreve{position: absolute;
	   top: 250px;
	   left: 200px;}
	   
#menu70{position: absolute;
	  top: 10px;
	  left: 10px;
	  display: block;
	  font-family: verdana;
	  font-size: 8px;
	  width: 940px;
	  z-index: 1}
  
#slogan{font-family: verdana;
	  font-size: 15px;
	  color: #666666;
	  position: absolute;
	  top: 160px;
	  left: 460px;
	  width: 450px;
	  text-align: center;
	  line-height: 25px}	  
	  
#slogan2{font-family: verdana;
	  font-size: 10px;
	  color: #666666;
	  position: absolute;
	  top: 5px;
	  left: 355px;
	  text-align: center;
	  line-height: 15px}	

#fb{position: absolute;
		 top: 0px;
		 left: 255px;
		 width: 40px;
		 height: 40px;}	
  
#gp{position: absolute;
		 top: 0px;
		 left: 300px;
		 width: 40px;
		 height: 40px;} 

.possocial{position: absolute;
			top: 585px;
			left: 0px;
			width: 960px;
			height: 45px;} 
	   
#banners{position: absolute;
	   top: 0px;
	   left: 50px;
	   width: 60%}	
			
.galeria{
	position: absolute;
	top: 110px;
	left: 0px;
    width: 960px;
	font-family: verdana;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: #666600;
}			
.galeriarealizados{
	position: absolute;
	top: 50px;
	left: 0px;
    width: 960px;
	font-family: verdana;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: #666600;
}		 

.formattexto{position: absolute;
		top: 40px;
		left: 60px;
		width: 700px;
		text-align: left;
		line-height: 20px}

			   
.textoapre1{  font-family: verdana;
			  font-size: 13px;
			  color: black;
			  font-weight: bolder}


.quadro{position: absolute;
	    top: 10px;
		left: 30px;
		width: 900px;
		height: 500px;
		border: 10px;
		border-color: white;
		z-index: 1;
		font-family: verdana;
		font-size: 12px;
		text-align: left;
		font-weight: bold;
		text-indent: 10px;
		color: black;}	

.corcampos{background-color: #FFFF99;
		   font-family: verdana;
		   font-size: 13px;
		   font-weight: bold; 
		   color: #996633;
		   border: 0px}		


.textbotao{font-family: verdana;
		   font-size: 10px;
		   font-weight: bold;
		   background-color: #AFAFAF;
		   color: white;
		   height: 18px;
		   width: 55px;
		   border: 0px}	
		
.textosdiv{font-family: verdana;
	   font-size: 10px;
	   color: #666666;}		
	
#bandb{position: absolute;
		    top: 20px;
		   left: 860px;
      	  width: 40px;
		 height: 40px;
	    z-index: 1}		   

#bandf{position: absolute;
		    top: 20px;
		   left: 900px;
      	  width: 40px;
		 height: 40px;
	    z-index: 1}	
			  
			  
#thankyou{font-family: verdana;
	  font-size: 16px;
	  color: black;
	  position: absolute;
	  top: 310px;
	  left: 0px;
	  text-align: center;
	  font-weight: bolder;
	  line-height: 25px;
	  width: 100%}			  
/* ===================================== LIGHTBOX ================================================= */

#lightbox{
	background-color:#CCCC99;
	padding: 10px;
	border-bottom: 2px solid #666;
	border-right: 2px solid #666;
	/* formatação da fonte da legenda */
	font-family: verdana;
	font-size: 18px;
	font-weight: bolder;
	color: #663300;
	}
#lightboxDetails{
	font-size: 0.8em;
	padding-top: 0.4em;
	}	
#lightboxCaption{ float: left; }
#keyboardMsg{ float: right; }
#closeButton{ top: 5px; right: 5px; }

#lightbox img{ border: none; clear: both;} 
#overlay img{ border: none; }

#overlay{ background-image: url(imagens/overlay.png); }

* html #overlay{
	background-color: #333;
	background-color: transparent;
	background-image: url(blank.gif);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="overlay.png", sizingMethod="scale");
	}

/* ===================================== LIGHTBOX ================================================= */	
	
.posdiversos{position: absolute;} 

/* =================== MENU ============================ */

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
#cssmenu {
  background: #db7f03;
  margin: 0;
  width: auto;
  padding: 0;
  line-height: 1;
  display: block;
  position: relative;
  font-family: 'PT Sans', sans-serif;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}
#cssmenu ul:after {
  content: ' ';
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
}
#cssmenu ul li a {
  text-decoration: none;
  display: block;
  margin: 0;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu ul li ul {
  position: absolute;
  left: -9999px;
  top: auto;
}
#cssmenu ul li ul li {
  max-height: 0;
  position: absolute;
  -webkit-transition: max-height 0.4s ease-out;
  -moz-transition: max-height 0.4s ease-out;
  -ms-transition: max-height 0.4s ease-out;
  -o-transition: max-height 0.4s ease-out;
  transition: max-height 0.4s ease-out;
  background: #d6d9d9;
}
#cssmenu ul li ul li.has-sub:after {
  display: block;
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background: #000000;
  z-index: 1;
  top: 11.5px;
  right: 15px;
}
#cssmenu ul li ul li.has-sub:before {
  display: block;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  border: 3px solid transparent;
  border-left-color: #d6d9d9;
  z-index: 2;
  top: 13.5px;
  right: 15px;
}
#cssmenu ul li ul li a {
  font-size: 11px;
  font-weight: 400;
  text-transform: none;
  color: #000000;
  letter-spacing: 0;
  display: block;
  width: 140px;
  padding: 11px 10px 11px 20px;
}
#cssmenu ul li ul li:hover > a,
#cssmenu ul li ul li.active > a {
  color: #db7f03;
}
#cssmenu ul li ul li:hover:after,
#cssmenu ul li ul li.active:after {
  background: #db7f03;
}
#cssmenu ul li ul li:hover > ul {
  left: 170px;
  top: 0;
}
#cssmenu ul li ul li:hover > ul > li {
  max-height: 72px;
  position: relative;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu > ul > li:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  z-index: 0;
  background: #d6d9d9;
  -webkit-transition: height .2s;
  -moz-transition: height .2s;
  -ms-transition: height .2s;
  -o-transition: height .2s;
  transition: height .2s;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 40px;
}
#cssmenu > ul > li.has-sub > a:after {
  display: block;
  content: '';
  background: #ffffff;
  height: 12px;
  width: 12px;
  position: absolute;
  border-radius: 13px;
  right: 14px;
  top: 14.5px;
}
#cssmenu > ul > li.has-sub > a:before {
  display: block;
  content: '';
  border: 4px solid transparent;
  border-top-color: #db7f03;
  z-index: 2;
  height: 0;
  width: 0;
  position: absolute;
  right: 16px;
  top: 19.5px;
}
#cssmenu > ul > li > a {
  color: #ffffff;
  padding: 15px 20px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 11px;
  z-index: 2;
  position: relative;
}
#cssmenu > ul > li:hover:after,
#cssmenu > ul > li.active:after {
  height: 100%;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
  color: #000000;
}
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li.active > a:after {
  background: #000000;
}
#cssmenu > ul > li:hover > a:before,
#cssmenu > ul > li.active > a:before {
  border-top-color: #d6d9d9;
}
#cssmenu > ul > li:hover > ul {
  left: 0;
}
#cssmenu > ul > li:hover > ul > li {
  max-height: 72px;
  position: relative;
}
#cssmenu #menu-button {
  display: none;
}
@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssmenu > ul {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.35s ease-out;
    -moz-transition: max-height 0.35s ease-out;
    -ms-transition: max-height 0.35s ease-out;
    -o-transition: max-height 0.35s ease-out;
    transition: max-height 0.35s ease-out;
  }
  #cssmenu > ul.open {
    max-height: 1000px;
    border-top: 1px solid rgba(110, 110, 110, 0.25);
  }
  #cssmenu ul {
    width: 100%;
  }
  #cssmenu ul > li {
    float: none;
  }
  #cssmenu ul li a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 12px 20px;
  }
  #cssmenu ul > li:after {
    display: none;
  }
  #cssmenu ul li.has-sub > a:after,
  #cssmenu ul li.has-sub > a:before,
  #cssmenu ul li ul li.has-sub:after,
  #cssmenu ul li ul li.has-sub:before {
    display: none;
  }
  #cssmenu ul li ul,
  #cssmenu ul li ul li ul,
  #cssmenu ul li ul li:hover > ul {
    left: 0;
    position: relative;
  }
  #cssmenu ul li ul li,
  #cssmenu ul li:hover > ul > li {
    max-height: 999px;
    position: relative;
    background: none;
  }
  #cssmenu ul li ul li a {
    padding: 8px 20px 8px 35px;
    color: #ffffff;
    width: auto;
  }
  #cssmenu ul li ul ul li a {
    padding: 8px 20px 8px 50px;
  }
  #cssmenu ul li ul li:hover > a {
    color: #000000;
  }
  #cssmenu #menu-button {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 15px 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 11px;
    letter-spacing: 1px;
    color: #ffffff;
    cursor: pointer;
  }
  #cssmenu #menu-button:after {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    right: 20px;
    top: 14.5px;
  }
  #cssmenu #menu-button:before {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid #ffffff;
    right: 20px;
    top: 24.5px;
  }
}


/* ================= FIM MENU ========================== */	
